.video_section{
width: 100%;
margin-right: 25px;
position: relative;
overflow: hidden;
border-radius: 10px;
    .tooltip_wrap{
        right: 10px;
        top: 10px;
    }
    &:hover{
        .captions{
            bottom: 50px;
        }
    }
}
.video_wrap{
    width: 100%;
}
.video_block{
    width: 100% !important;
}
@media(min-width:1600px){
 .video_block{
     height: 500px !important ;
 }   
}
// .video_section>.video_block{
//   width: 100% !important; // Reset width
//   height: 100% !important; // Reset height
// }
// .video_section  {
//   padding-top: 56.25%; // Percentage ratio for 16:9
//   position: relative; // Set to relative
// }
// .video_section>.video_block{
//     position: absolute;
//     z-index: 1;
//     top: 0;
// }

