
// colors 
$black: #193234;
$green : #00A6B0;
$white:#fff;
$coral :#F9BCAB;
$cloud: #EEF1FC;
$water: #F6FBFF;
$golden : #DDCBB4;
$light_green: #66CAD0;
$red:#FF7272;

// mixins
@mixin transition{
    transition: all 0.3s ease-in-out;
}
@mixin center{
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
}
@mixin after{
    content: "";
    position: absolute;
}
@mixin spanBtn{
    position: relative;
    width: 24px;
    height: 24px;
    padding: 6px 4px;
    span{
        display: block;
        width: 17px;
        height: 2px;
        border-radius: 1px;
    }
}
