.google_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin-right: 6px;
    }
    background: #4285F4;
    border-radius: 8px;
    height: 40px;
    width: 100%;
    color: #fff;
}