.lang_btn{
    position: absolute;
    right: 10px;
    top: 60px;
    z-index: 100;
    padding: 10px;
    background-color: #455859;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}
