@import 'src/styles/mixins&vars.scss';

.select_label{
    display: flex;
    align-items: center;
    cursor: pointer;
    p{
        margin: 0 10px;
    }
    .arrow_img{
        @include transition;
    }
    &.select_label_active{
        .arrow_img{
            transform :rotate(180deg);
        }
    }
    >div{
        display: flex;
        align-items: center;
    }
}
.select_container{
    position: relative;
}
.select_options{
    position: absolute;
    right: 0;
    top: calc(100% + 10px );
    background: $white;
    box-shadow: 0px 4px 30px rgba(31, 27, 27, 0.05);
    border-radius: 8px;
    padding: 11px 5px;
    width: 175px;
    z-index: 20;
    max-height: 300px;
    overflow-y: scroll;
    li{
        width: 100%;
        padding: 5px 16px;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        border-radius: 4px;
        display: flex;
        align-items: center;
         transition : all 0.1s linear;
        svg{
            margin-right: 10px;
        }
        cursor: pointer;
        &:hover,&.active_option{
            background-color: $green;
            color: $white;
            svg path{
                stroke: $white;
            }
        }
    }
}
