.sm_video_item{
    width: 100%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 4px 30px rgba(31, 27, 27, 0.05);
    overflow: hidden;
    &:hover{
        .sm_video_item_img{
            img{
                transform: scale(1.1);
            }
        }
    }
    &_img{
        width: 100%;
        overflow: hidden;
        img{
            transition: all 0.2s ease-in-out;
            width: 100%;
        }
    }
    &_title{
        padding: 15px 20px;
        padding-right: 15%;
        display: flex;
        align-items: center;
        color: #193234;
        svg{
            flex-shrink: 0;
            margin-right: 15px;
        }
    }
}
.video_row .col_4{
 &:nth-child(2n+2){
  .sm_video_item_title{
      svg path{
          stroke: #00A6B0;
      }
  }   
 }
 &:nth-child(2n+3){
    .sm_video_item_title{
        svg path{
            stroke: #EF592F;
        }
    }   
   }
   &:nth-child(6n+6){
    .sm_video_item_title{
        svg path{
            stroke: #C6A070;
        }
    }   
   }

}
@media(max-width:1199.9px){
 .sm_video_item{
     font-size: 12px;
     line-height: 150%;
     &_title{
         padding: 12px 20px;
     }
 }   
}